/* variables */

:root {
    --color-secundario: #D6CBB7;
    --color-principal: #7B5F2E;
    --color-terciario: #fff;
    --color-oscuro: #252525;
    --texto-principal: 'Poppins', sans-serif;
    --texto-secundario: 'Dancing Script', cursive;
    --texto-color-title: #7B5F2E;
    --text-color-principal: #252525;
}

/* estilos generales */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--color-secundario);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

/* cabecera */

header {
    width: 100%;
    height: 22vh;
    background-image: url('../images/cabecera.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    border: 1px solid var(--color-principal);
    position: relative;
}

.foto_perfil {
    display: flex;
    justify-content:center;
    align-items: center; 
}
.foto_perfil img{
    width: 110px;
    height: 110px;
    border: 5px solid var(--color-terciario);
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    position: absolute;
    bottom: -40%;
    -webkit-box-shadow: 9px 11px 12px 1px rgba(0,0,0,0.17);
    -moz-box-shadow: 9px 11px 12px 1px rgba(0,0,0,0.17);
    box-shadow: 9px 11px 12px 1px rgba(0,0,0,0.17);
}

/* Nombre puesto empresa */
.nombre_puesto {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.nombre {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 70px;
}
.nombre p {
    font-family: var(--texto-principal);
    font-size: 1.7rem;
    color: var(--color-oscuro);
    text-align: center;
    font-weight: 700;
}
.puesto p {
    font-family: var(--texto-principal);
    font-size: 1rem;
    color: var(--color-oscuro);
    text-align: center;
    font-weight: 500;
}
.empresa p {
    font-family: var(--texto-principal);
    font-size: 1rem;
    color: var(--color-oscuro);
    text-align: center;
    font-weight: 500;
    margin-top: 8px;
}

/* Contacto */
.contacto {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 2%;
}
.contacto h2 {
    font-family: var(--texto-secundario);
    font-size: 2.2rem;
    color: var(--texto-color-title);
    text-align: center;
}
.item-contacto {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    justify-items:center;
    margin-top: 10px;
}
.icon-contacto{
    width: 60px;
    height: 60px;
    color: #7B5F2E;
}